{% extends 'package/base_visitor.html' %}
{% block albums_active %}active{% endblock %}
{% load staticfiles %}
{% block body %}
     <!-- Slider -->
        <div class="row">
            <div class="col-sm-6">
                <div class="col-xs-12" id="slider">
                    <!-- Top part of the slider -->
                    <div class="row">
                        <div class="col-sm-12" id="carousel-bounding-box">
                            <div class="carousel slide" id="myCarousel">
                                <!-- Carousel items -->
                                <div class="carousel-inner">
                                    <div class="active item" data-slide-number="0">
                                        <img src="/package/static/package/images/package3.jpg"></div>

                                    <div class="item" data-slide-number="1">
                                        <img src=/package/static/package/images/package1.jpg></div>


                                </div>
                                <!-- Carousel nav -->
                                <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                                    <span class="glyphicon glyphicon-chevron-left"></span>
                                </a>
                                <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                                    <span class="glyphicon glyphicon-chevron-right"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            <!--/Slider-->
{% endblock %}
